In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import sklearn

In [5]:
from sklearn import linear_model

In [6]:
from sklearn.utils import shuffle

In [9]:
data =  pd.read_csv('E:\DataScience\Students_Data\student-mat.csv', sep = ";")

In [10]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [13]:
new_data = data[["G1","G2","G3","studytime","failures","absences"]]

In [14]:
new_data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [15]:
predict = "G3"

In [17]:
x = np.array(new_data.drop([predict],1))

In [18]:
y = np.array(new_data[predict])

In [22]:
x_train, x_test,y_train,y_test = sklearn.model_selection.train_test_split(x,y,test_size = 0.1)

In [23]:
linearity = linear_model.LinearRegression()

In [31]:
linearity.fit(x_train, y_train)
accurate = linearity.score(x_test,y_test)
print(accurate)
print("Coefficients:  \n", linearity.coef_)
print("Intercepts: \n", linearity.intercept_)

0.7403055997882373
Coefficients:
 [ 0.16223466  0.97093343 -0.20208327 -0.32626287  0.04069551]
Intercepts:
 -1.4671437885898246

In [33]:
predictions = linearity.predict(x_test)
for x in range (len(predictions)):
    print(predictions[x],x_test[x],y_test[x])

6.459966191253161 [ 7  8  2  3 10] 10
8.973666582547008 [ 7 10  2  0  0] 11
12.657791571218665 [13 13  3  0  0] 13
10.593538660294543 [11 11  2  0  0] 10
14.883132708902329 [13 15  2  0  2] 16
12.90329273198969 [16 12  1  0  8] 13
9.134107698607421 [10 10  2  1  0] 0
8.32462818972709 [ 7 10  4  1  2] 10
11.931031191611906 [13 12  3  0  6] 12
15.737490539085309 [16 15  3  0 16] 15
10.106834672123597 [ 8 11  2  0  0] 11
8.854849812365329 [9 9 1 0 8] 10
12.859874839447722 [13 13  2  0  0] 13
12.014845058433089 [14 11  1  0 18] 13
4.965753271253768 [7 6 1 1 0] 0
10.999399001490566 [13 11  2  0  2] 11
8.5722224307565 [10  9  3  0  7] 9
6.863884892532617 [10  8  1  3  3] 7
9.784688455823431 [11 10  2  1 12] 10
9.460370570717954 [10 10  2  0  0] 10
-0.7791033848142809 [12  0  3  2  0] 0
9.21783962979319 [ 7 10  2  0  6] 10
18.9719716028059 [18 18  1  0  6] 18
13.762029512363119 [11 12  2  0 54] 11
12.052818181639847 [11 12  2  0 12] 11
9.380074292516838 [ 8 10  2  0  6] 10
14.236668607496684 [15 14  2  0  2] 14
15.736096267942548 [16 15  2  0 11] 15
16.259079574582337 [14 16  1  0  3] 16
10.152194204582134 [10 10  2  0 17] 10
7.388262470315171 [8 9 1 3 0] 10
14.032891534529718 [13 14  1  0  0] 13
7.518503717012072 [10  8  2  0  0] 9
12.941265855196448 [13 13  2  0  2] 13
9.42458692260642 [ 9  9  1  0 22] 9
4.681032809386553 [8 6 2 2 2] 5
11.97142716589112 [11 12  2  0 10] 13
5.49549368273612 [7 6 1 0 5] 7
11.724913203207896 [14 12  2  1  0] 12
10.514936186831338 [11 11  4  0  8] 10